<!DOCTYPE html>
<html>
<head lang="en">
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=1.0">
    <meta name="author" content="lock">
    <meta name="keywords" content="现金贷">
    <meta name="description" content="现金贷">
    <link href="/css/index.css" rel="stylesheet">
    <script src="/js/page.js" type="text/javascript"></script>
    <title>意见反馈</title>
    <style>


        .img_box button {
            display: inline-block;
            border: 1px solid #599ef4;
            color: #599ef4;
            background-color: white;
            border-radius: 3px;
            width: 80px;
            height: 36px;
            padding: 0;
            margin-top: 12px;
            margin-right: 10px;
            z-index: 1000;
        }

        .img_box button:hover {
            color: black;
        }

        .img_box .imgList img {
            max-height: 680px;
            max-width: 680px;
        }

    </style>
</head>
<body class="sticky-header">

<div class="wrapper">
    <div class="row">
        <div class="row_header">
            <div class="row_header_btn row_header_authen">认证用户</div>
        </div>
        <div class="col-md-12">
            <div class="panel panel_border panel_anthen">
                <div class="panel_heading">
                    <form id="searchForm" action="" method="get">
                        <ul class="nav pull-left">
                            <li class="pull-left">
                                <input type="tel" class="input-medium" value="" placeHolder="请输入手机号" name="tel"
                                       id="tel"/>&nbsp;&nbsp;
                            </li>
                            <li class="pull-left">
                                <button type="submit" class="btn btn-info">搜索</button>
                            </li>
                        </ul>
                    </form>
                </div>
                <div class="panel-body">
                    <form action="" id="form1" method="post">
                        <table class="table table-hover table-striped table_thead_fixed">
                            <thead>
                            <tr>
                                <th></th>
                                <th></th>
                                <th></th>
                                <th></th>
                                <th></th>
                                <th></th>
                                <th></th>
                                <th></th>
                                <th></th>
                                <th></th>
                                <th></th>
                                <th></th>
                                <th></th>
                            </tr>

                            </thead>
                            <tbody>
                            <tr>
                                <td></td>
                                <td></td>
                                <td></td>
                                <td></td>
                                <td></td>
                                <td></td>
                                <td></td>
                                <td></td>
                                <td></td>
                                <td></td>
                                <td></td>
                                <td></td>
                                <td></td>
                            </tr>
                            </tbody>
                            <tfoot>
                            <tr>
                                <td colspan="14">
                                    <div class="fl">
                                        <div class="pagination"> 总共{{.count}}条</div>
                                    </div>
                                    <div class="fl">
                                        <div class="pagination" id="pagination" data-url="/advise/list"
                                             currentPage="{{.currpage}}" pageCount="{{.pagecount}}"></div>
                                        <script type="text/javascript">
                                            $(function () {
                                                $("#pagination").my_page("#searchForm");
                                            });
                                        </script>
                                    </div>
                                </td>
                            </tr>
                            </tfoot>
                        </table>
                    </form>
                </div>
            </div>
        </div>
    </div>
</div>
<script>


</script>
</body>
</html>